<div id='user-login'>
  <% if @user.nil? %>
    <h5>Пользователь с таким логином не найден</h5>
  <% else %>
    <div class='card cartocka' style='width: 25em;margin: 5px;'>
    <div class="card-body">
      <h5 class="card-title"> <%= @user.login %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= @user.f_name %> <%= @user.l_name %></h6>
      <p class="card-text"><%= @user.birth %></p>
      <% unless current_user.id == @user.id %>
        <% if !friends?(current_user.id, @user.id) && !request_present?(current_user.id, @user.id) %>
          <%= link_to 'Добавить в друзья', user, class: 'card-link text-dark'%>
        <% elsif friends?(current_user.id, @user.id) %>
          <p class="card-text"> Уже у вас в друзьях</p>
        <% end %>
        <% else %>
          <p class="card-text"> Это я</p>
        <% end %>    
        </div>
  </div>
  <% end %>
  <%= link_to 'Обратно', '/users/show', class: 'card-link text-dark'%>
</div>