<div id='user-login'>
  <% if @user.nil? %>
    <h5> <%= t('.err_find') %> </h5>
  <% else %>
    <div class='card cartocka' style='width: 25em;margin: 5px;'>
    <div class="card-body">
      <h5 class="card-title"> <%= @user.login %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= @user.f_name %> <%= @user.l_name %></h6>
      <p class="card-text"><%= @user.birth %></p>
      <% unless current_user.id == @user.id %>
        <% if !friends?(current_user.id, @user.id) && !request_present?(current_user.id, @user.id) %>
          <%= link_to t('.add_to_friends'), user, class: 'card-link text-dark'%>
        <% elsif friends?(current_user.id, @user.id) %>
          <p class="card-text"> <%= t('.already_friends') %></p>
        <% end %>
        <% else %>
          <p class="card-text"> <%= t('.me') %></p>
        <% end %>    
        </div>
  </div>
  <% end %>
  <%= link_to t('.return'), users_show_path, class: 'card-link text-dark'%>
</div>