<div id='div-info' class='div-form'>
  <div id='container-info'>
    <ul>
      <li>Имя: <%= current_user.f_name %></li>
      <li>Фамилия: <%= current_user.l_name %></li>
      <li>Логин: <%= current_user.login %></li>
      <li>Почта: <%= current_user.email %></li>
      <li>День рождения: <%= current_user.birth %></li>
      <li>Дата регистрации: <%= current_user.created_at %></li>
    </ul>
  </div>
  <div id='links'>
    <ul>
      <li><%= link_to 'Редактировать данные', '/users/edit', class: 'text-dark', data: {turbo_method: :post} %></li>
      <li><%= link_to 'Вернуться обратно', wishlist_path, id: 'to_wishlist', class: 'text-dark' %></li>
      <li><%= button_to 'Удалить аккаунт', user_path, method: :delete, id: 'delete_p', class: 'btn btn-outline-danger' %></li>
    </ul>
  </div>
</div>