<div id='div-info' class='div-form'>
  <div id='container-info'>
    <ul>
      <li> <%= t('users.edit.name')%> <%= current_user.f_name %></li>
      <li> <%= t('users.edit.last_name') %> <%= current_user.l_name %></li>
      <li> <%= t('passwords.index.login') %> <%= current_user.login %></li>
      <li> <%= t('.email')%> <%=  current_user.email %></li>
      <li> <%= t('users.edit.birth')%> <%=  current_user.birth %></li>
      <li> <%= t('.date_reg')%> <%=  current_user.created_at %></li>
    </ul>
  </div>
  <div class='links'>
    <ul>
      <li><%= link_to t('.edit_data'), users_edit_path, class: 'text-dark', data: {turbo_method: :post} %></li>
      <li><%= link_to t('.return'), wishlist_path(current_user.id), id: 'to_wishlist', class: 'text-dark' %></li>
      <li><%= button_to t('.del'), users_destroy_path, method: :delete, id: 'delete_p', class: 'btn btn-outline-danger' %></li>
    </ul>
  </div>
</div>