<div id='show-users'>
  <div class=' users' id='user'>
    <% @users.each do |user| %>
        <div class='card cartocka' style='width: 25em;margin: 5px;'>
          <div class="card-body">
            <h5 class="card-title"> <%= user.login %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= user.f_name %> <%= user.l_name %></h6>
            <p class="card-text"> <%= user.birth %></p>
            <%unless user.email_confirmed then%> 
              <p class="card-text" style='color:red;'><%= t('.acc') %></p> 
            <% end %>
            <% if current_user.id != user.id %>
              <% if !friends?(current_user.id, user.id) && !request_present?(current_user.id, user.id) %>
                <%= link_to t('users.show_by_login.add_to_friends'), user, class: 'card-link text-dark'%>
              <% elsif friends?(current_user.id, user.id) %>
                <p class="card-text"> <%= t('users.show_by_login.already_friends')%> </p>
              <% end %>
            <% else %>
              <p class="card-text"> <%= t('users.show_by_login.me')%></p>
            <% end %>
          </div>
        </div>
    <%end%>
  </div>
  <div id='search-line'>
    <%= form_with url: users_show_by_login_path, class: 'my-form' do |form| %>
    <div class = 'form-group'>
      <%= form.label :login, t('passwords.index.login'), id: 'label_name' %>
      <%= form.text_field :login, class: 'form-control', id: 'login' %>
    </div>
    <% end %>
  </div>
    
</div>
