<% Gift.all.each do |gift| %>
<div class='card cartocka' style='width: 25em;margin: 5px;'>
          <div class="card-body">
            <div  style='display:inline-block;  vertical-align: middle;'>
              <h5 class="card-title"> <%= gift.name %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= gift.description %></h6>
              <%= link_to 'Ссылка на товар', gift.link, class: 'card-link text-dark'%>
            </div>

            <div  style= 'display:inline-block;  vertical-align: middle;margin-left: 50%;' >
            <%= button_to gift, method: :delete, class: 'btn btn-danger btn-circle btn-sm' do %>
                <%= image_tag 'icons8-trash-can.svg', style: 'width:40px;height:40px;' %>
            <% end%>
            </div>
          </div>

        </div>
<%end%>