
<%= turbo_frame_tag "modal" do %>
  <%= form_with scope: :gift, class: 'my-form', url: '/gifts/create', data: {turbo: false}  do |form| %>
  <%# костыль ужас. убрать потом.... %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :giver_id %>
    <div class = 'form-group'>
      <%= form.label :name, t('gifts.destroy.type_wishlist')%>
      <%= form.select( :wishlist_type_id, options_from_collection_for_select(WishlistType.all, :id, :name), class: 'btn btn-success dropdown-toggle form-control' ) %>
    </div>
    <div class = 'form-group'>
      <%= form.label :name, t('.name') %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>
    <div class = 'form-group'>
      <%= form.label :link, t('gifts.destroy..link_gift')%>
      <%= form.text_field :link, class: 'form-control' %>
    </div>
    <div class = 'form-group'>
      <%= form.label :desc, t('.label_desc')%>
      <%= form.text_field :description, class: 'form-control' %>
      <small id="emailHelp" class="form-text text-muted"><%= t('.desc')%></small>
    </div>
    <div class = 'form-group'>
      <%= link_to t('.close'), wishlist_path(current_user.id), class: 'link-dark'%>
      <%= form.submit t('.add'), id: 'add_btn',  class: 'btn btn-outline-dark', style: 'width: 50%;'%>
    </div>
  <% end %>
<% end %>