
<%= turbo_frame_tag "modal" do %>
  <%= form_with scope: :gift, class: 'my-form', url: '/gifts/create', data: {turbo: false}  do |form| %>
  <%# костыль ужас. убрать потом.... %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :giver_id %>
    <div class = 'form-group'>
      <%= form.label :name, 'Название' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>
    <div class = 'form-group'>
      <%= form.label :link, 'Ссылка'%>
      <%= form.text_field :link, class: 'form-control' %>
    </div>
    <div class = 'form-group'>
      <%= form.label :desc, 'Описание'%>
      <%= form.text_field :description, class: 'form-control' %>
      <small id="emailHelp" class="form-text text-muted">Расскажите поподробнее о этом товаре. Хотите ли вы сами его купить или когда хотели бы получить в подарок</small>
    </div>
    <div class = 'form-group'>
      <%= link_to 'Закрыть', '/gifts/show', class: 'link-dark'%>
      <%= form.submit 'Добавить', id: 'add_btn',  class: 'btn btn-outline-dark', style: 'width: 50%;'%>
    </div>
  <% end %>
<% end %>