<%= link_to '/gifts/new', data: { turbo_frame: 'modal' } do %>
  <%= image_tag 'add_gift.png', style: 'width:65px;height:65px;', id: 'add_gift_icon'%>
<% end%>

<div>
  <div id='gifts'>
    <% @gifts.each do |gift| %>
        <div class='card cartocka' style='width: 25em;margin: 5px;'>
          <div class="card-body">
            <div  style='display:inline-block;  vertical-align: middle;width:75%;'>
              <h5 class="card-title"> <%= gift.name %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= gift.description %></h6>
              <%= link_to 'Ссылка на товар', gift.link, class: 'card-link text-dark'%>
            </div>

            <div  style= 'display:inline-block;  vertical-align: middle;' >
            <%= button_to gift, method: :delete, class: 'btn btn-danger btn-circle btn-sm' do %>
                <%= image_tag 'icons8-trash-can.svg', style: 'width:40px;height:40px;' %>
            <% end%>
            </div>
          </div>

        </div>

  <%end%>
  </div>
</div>