  <% if current_user.id == @user.id %>
    <%= link_to '/gifts/new', data: { turbo_frame: 'modal' } do %>
      <%= image_tag 'add_gift.png', style: 'width:70px;height:70px;', class: 'add_gift_icon'%>
    <% end%>
  <% end %>
<div>
<%= form_with class: 'my-form', id:'form-type',url: wishlist_with_type_path do |form| %>
    <div class = 'form-group'>
      <%= form.label :name, 'Тип вишлиста' %>
      <%= form.select( :id_type, options_from_collection_for_select(WishlistType.all, :id, :name), class: 'btn btn-success dropdown-toggle form-control' ) %>
      <%= form.submit 'Показать', id: 'add_btn',  class: 'btn btn-outline-dark', style: 'width: 50%;margin-left:25%;margin-top:5px;', data: {turbo_method: :post}%>
    </div>
<% end %>
  <div id='gifts'>
    <% if @gifts.empty? %>
            <%= image_tag 'empty.png', id: 'empty-icon'%>
    <% else %>
      <% @gifts.each do |gift| %>
          <div class='card cartocka' style='width: 25em;margin: 5px;'>
            <div class="card-body">
              <div  style='display:inline-block;  vertical-align: middle;width:70%;'>
                <h5 class="card-title"> <%= gift.name %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= gift.description %></h6>
                <h6 class="card-subtitle mb-2 text-muted">Тип вишлиста: <%= WishlistType.find(gift.wishlist_type_id).name %></h6>
                <%= link_to 'Ссылка на товар', gift.link, class: 'card-link text-dark'%>
              </div>
              <div  style= 'display:inline-block;  vertical-align: middle;' >
                <% if gift.user_id == current_user.id %>
                  <%= button_to gift, method: :delete, class: 'btn btn-danger btn-circle btn-sm' do %>
                      <%= image_tag 'icons8-trash-can.svg', style: 'width:40px;height:40px;' %>
                  <% end%>
                <% elsif gift.giver_id.nil? %>
                  <%= button_to 'Я дарю ', giver_path(gift.id), method: :get, class: 'btn btn-success btn-circle' %>
                <% elsif gift.giver_id == current_user.id %>
                  <%= button_to 'Не дарю', remove_giver_path(gift.id), method: :get, class: 'btn btn-danger btn-circle' %>
                <% else %>
                  <p>Этот подарок уже занят </p>
                <% end %>
              </div>
            </div>
          </div>
    <%end%>
    <% end %>
  </div>
</div>