<h3 style='text-align:center;margin-bottom:20px;'><%= t('.in') %></h3>
<% User.all.select { |u| request_present?(u.id, current_user.id) && is_users_request?(u.id, current_user.id) }.each do |user| %>     <%# не забыть убрать этот хардкод %>
        <div class='card cartocka' style='width: 25em;margin: 5px;'>
          <div class="card-body">
            <h5 class="card-title"> <%= user.login %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= user.f_name %> <%= user.l_name %></h6>
            <div class='btn-group' style='text-align: center;'>
                 <%= button_to t('.accept'),friendship_path(user.id), class: 'btn btn-success btn-circle'%>
                <%= button_to t('.reject'), friendship_path(id_friendship(user.id, current_user.id)), method: :delete, class: 'btn btn-danger btn-circle ',  style: 'margin-left:8px;'%>
            </div>
          </div>
        </div>
    <%end%>
