<div id='div-info' class='div-form'>
    <div id='friends'>
        <h3 style='text-align:center;margin-bottom:20px;'>Друзья</h3>
        <% User.all.select { |u| friends? u.id, current_user.id }.each do |user| %>     <%# не забыть убрать этот хардкод %>
        <div class='card cartocka' style='width: 25em;margin: 5px;'>
          <div class="card-body">
            <h5 class="card-title"> <%= user.login %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= user.f_name %> <%= user.l_name %></h6>
            <p class="card-text"><%= user.birth %></p>
            <div class='btn-group' style='text-align: center;'>
                <%= button_to 'Вишлист','', class: 'btn btn-success btn-circle'%>
                <%= button_to 'Удалить из друзей', friendship_path(id_friendship(current_user.id, user.id)), method: :delete, class: 'btn btn-danger btn-circle ',  style: 'margin-left:8px;'%>
            </div>
          </div>
        </div>
    <%end%>
    </div>
    <div class='links-left'>
        <ul>
            <li><%= link_to 'Друзья', '/friendships/show', class: 'text-dark' %></li>
            <li><%= link_to 'Входящие заявки', '/friendships/in', class: 'text-dark', data: {turbo_method: :post} %></li>
            <li><%= link_to 'Исходящие заявки', '/friendships/out', class: 'text-dark',  data: {turbo_method: :post} %></li>
        </ul>
    </div>
</div>
